html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.simulator-container {
  height: 100%;
  width: 100vw;
  background-image: url('../src/assets/Bg_Image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}